[mqtt]
hostname = '127.0.0.1'
# port = 1883
username = 'mqttalert'
password = ''
client_id = 'mqttalert'

[monitors]
flood_topics = ['shellies/flood-somewhere/info']

[pushover]
user = '...'
token = '...'
